
<ui-view></ui-view>
<!-- navbar -->
<div class="main font" ng-controller="ProductsController as products">
    <img src="logo.png" class="left-txt">
        <ul class="right-txt">
            <li>Basket:<span>{{products.getProductsCount()}}</span></li>
            <br/>
            <li>Total:{{products.total | currency: "&#36;"}}</li>
        </ul>

    <nav>
    <div class="nav-wrapper nav-color">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">All products</a></li>
        <li><a href="#">Apple watches</a></li>
        <li><a href="#">iPad</a></li>
      </ul>
    </div>
  </nav>

    <div class="block description" ng-repeat="product in products.dataB">
        <img ng-src="{{product.url}}">
        <p>{{product.name}}</p>
        <p class="price">{{product.price | currency: "&#36;"}}</p>
        <button class="waves-effect waves-light btn button" ng-click="products.addToBasket(product)">
          Add to basket
        </button><br/><br/>
        <button class="waves-effect waves-light btn button" ng-click="products.deleteProduct(product)">
          Remove from basket
        </button>
    </div>

    <!-- footer -->
    <footer class="page-footer footer footer-color">
        <div class="container footer">
            <div class="row">
                <p class="white-text">Tacit Knowledge, practical task</p>
                    <p class="grey-text text-lighten-4">Irina CAPATINA</p>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright
            </div>
        </div>
    </footer>
</div>
</div>
