<!-- <div ng-init="products=[
    {
        "id": "1",
        "name":"iPhone 7 Plus, 128 GB",
        "url":"components/main/controller/images/1.png",
        "price":"859.99"
    },
    {
        "id": "2",
        "name":"iPad Pro, 256 GB",
        "url":"components/main/controller/images/2.png",
        "price":"699.99"
    },
    {
        "id": "3",
        "name":"Macbook Pro 15'",
        "url":"components/main/controller/images/3.png",
        "price":"1959.99"
    },
    {
        "id": "4",
        "name":"iWatch Series 2",
        "url":"components/main/controller/images/4.png",
        "price":"859.99"
    },
    {
        "id": "5",
        "name":"iWatch Series 1",
        "url":"components/main/controller/images/5.png",
        "price":"659.99"
    },
    {
        "id": "6",
        "name":"iWatch Series 2 Black",
        "url":"components/main/controller/images/6.png",
        "price":"859.99"
    },
    {
        "id": "7",
        "name":"iPad Pro, 128 GB",
        "url":"components/main/controller/images/7.png",
        "price":"559.99"
    },
    {
        "id": "8",
        "name":"iWatch Series 2 Gold",
        "url":"components/main/controller/images/8.png",
        "price":"859.99"
    },
    {
        "id": "9",
        "name":"iPad Pro, 256 GB",
        "url":"components/main/controller/images/9.png",
        "price":"859.99"
    }
]"></div> -->

<ui-view></ui-view>
<!-- navbar -->
<div class="main font" ng-controller="ProductsController as main">
    <div>
        <img src="logo.png" class="left-txt">
        <ul class="right-txt">
            <li>Basket:<span>{{main.getAddedProducts()}}</span>item(s)</li>
            <br/>
            <li>Total:{{product.price}}</li>
        </ul>
    </div>

    <nav>
    <div class="nav-wrapper nav-color">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">All products</a></li>
        <li><a href="#">Apple watches</a></li>
        <li><a href="#">iPad</a></li>
      </ul>
    </div>
  </nav>
        
    <!-- main -->
    <div class="block description" ng-repeat="product in main.dataB">
        <img ng-src="{{product.url}}">
        <p>{{product.name}}</p>
        <p class="price">{{product.price | currency: "&#36"}}</p>
        <button class="waves-effect waves-light btn button" ng-click="main.addProductToBasket()">Add to basket</button>
    </div>

    <!-- footer -->
    <footer class="page-footer footer footer-color">
        <div class="container footer">
            <div class="row">
                <p class="white-text">Tacit Knowledge, practical task</p>
                    <p class="grey-text text-lighten-4">Irina CAPATINA</p>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright
            </div>
        </div>
    </footer>
</div>
</div>